<div class="card-panel grey lighten-3">
	<div id="identifier" class="center">
		<h3><%= @identifier.capitalize %> Dashboard Analytics</h3>
	</div>

	<div id="analytics">
		<table class="highlight striped">
			<tbody>
				<tr>
					<td>Average Response time across all requests:</td>
					<td><%= @client.average_response_time.round(2) %></td>
				</tr>
				<tr>
					<td>Max Response time across all requests:</td>
					<td><%= @client.max_response_time %></td>
				</tr>
				<tr>
					<td>Min Response time across all requests:</td>
					<td><%= @client.min_response_time %></td>
				</tr>
				<tr>
					<td>Most frequent request type:</td>
					<td><%= @client.most_requested_verb %></td>
				</tr>
				<tr>
					<td>List of all HTTP verbs used:</td>
					<td><%= @client.list_all_verbs %></td>
				</tr>
				<tr>
					<td>List of URLs listed from most requested to least requested:</td>
					<td>
							<% @urls_with_requests.keys.each_with_index do |url, index| %>
							<a href="/sources/<%= @identifier %>/urls<%= @relativepaths[index] %>"><%= url %></a>
							<% end %>
					</td>
				</tr>
				<tr>
					<td>Web browser breakdown across all requests:</td>
					<td><%= @client.browsers %></td>
				</tr>
				<tr>
					<td>OS breakdown across all requests:</td>
					<td><%= @client.platforms %></td>
				</tr>
				<tr>
					<td>Screen Resolutions across all requests (resolutionWidth x resolutionHeight):</td>
					<td><%= @client.screen_resolutions %></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
